<footer>
  <div class="container-fluid">
    <div class="row footer-row">
      <div class="col-xs-12 col-sm-4 col-md-4 footer-list">
        <app-footer-list></app-footer-list>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4">
        <app-footer-social-media></app-footer-social-media>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4">
        <app-payments-section></app-payments-section>
      </div>
    </div>

    <div class="row footer-row"><app-footer-address></app-footer-address></div>
  </div>
</footer>
