<div class="container-fluid location-details-container">
  <div class="row">
    <div class="col-sm-12">
      <ul class="location-details-list">
        <li>
          <a>
            <span> <mat-icon>location_on</mat-icon> </span>
            <span class="text-center">{{
              address
                ? address
                : "Rua Dona Libânia, 215 - Centro, Manaus - Amazonas,
              69010-250"
            }}</span>
          </a>
        </li>
        <li>
          <a>
            <span> <mat-icon>phone</mat-icon> </span>
            <span class="text-center">Tel.: +55 (92) 3213-9159</span>
          </a>
        </li>
        <li>
          <a>
            <span> <mat-icon>phone</mat-icon> </span>
            <span class="text-center"
              >Cel.: {{ phone ? phone : "+55 (92) 9 8412-5252" }}</span
            >
          </a>
        </li>
        <li>
          <a>
            <span> <mat-icon>email</mat-icon> </span>
            <span class="text-center">{{
              email ? email : "reservas@localhostel.com.br"
            }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
