<div class="container-fluid feature-items-section">
  <div class="row">

    <div class="col-sm-6 col-md-4">
      <div class="hostel-icons">
        <i class="material-icons">local_florist</i>
        <h6>{{ 'Lorem' }}</h6>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="hostel-icons">
        <i class="fas fa-child material-icons"></i>
        <h6>{{ 'Lorem' }}</h6>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="hostel-icons-no-hover">
        <img [src]="bolshoiIcon" id="bolshoiImage" alt="Bolshoi Icon Representantion">
        <h6>{{ 'Lorem' }}</h6>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="hostel-icons">
        <i class="material-icons">business_center</i>
        <h6>{{ 'Lorem' }}</h6>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="hostel-icons">
        <i class="fas fa-beer material-icons"></i>
        <h6>{{ 'Lorem' }}</h6>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="hostel-icons">
        <i class="material-icons">business</i>
        <h6>{{ 'Lorem' }}</h6>
      </div>
    </div>

  </div>
</div>