<div class="col-sm-6 special-display">
  <app-text-block 
    [center-title]="centerTitle" 
    [firstText]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'" 
    [title]="'A melhor localização de Manaus'"
  >
  </app-text-block>
</div>

<div class="col-sm-6 no-padding">
  <app-location-details></app-location-details>
</div>

<div class="col-sm-12">
  <h1 class="text-center default-margin">{{ 'Lorem ipsum dolor sit amet:' }}</h1>
</div>

<div class="col-sm-12">
  <h1>
    Lorem ipsum dolor sit amet
  </h1>
</div>

<div class="col-sm-12">
  <app-text-block 
    [title]="'Lorem ipsum dolor sit amet:'" 
    [firstText]="' Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.'"
  >
  </app-text-block>
</div>

<div class="col-sm-12">
  <h1>Lorem ipsum dolor sit amet:</h1>
</div>

<div class="col-sm-12">
  <app-text-block [title]="'Lorem ipsum dolor sit amet:'" [firstText]="' Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                  dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.'">
  </app-text-block>
</div>
