<div class="container-fluid">
  <app-banner-second-property></app-banner-second-property>

  <app-text-block
    [firstText]="
      'Um município novo de apenas 36 anos e com 30 mil habitantes, Figueiredo destoa totalmente da capital Manaus, que está
      distante 107km, ligadas pela Rodovia Federal BR 174. Com clima interiorano e tranquilo, esse tesouro no meio da
      floresta guarda lugares encantadores de tirar o fôlego. Os tímidos números da sua idade e população ficam realmente
      pequenos quando mencionamos que o lugar tem nada menos que mais de 100 cachoeiras catalogadas, isso mesmo que você leu.
      <br /><br />Quer mais? Aqui você também irá encontrar cavernas, grutas, lagos, trilhas, buracos nas rochas que parecem jacúzis e
      muita emoção. Tem opção pra todos os gostos e estilos.
      Então, vem com a gente que o Local Hostel Figueiredo será o seu ponto de partida para você desbravar todas essas
      aventuras.'
    "
    [title]="'Presidente Figueiredo, a terra das cachoeiras'"
  >
  </app-text-block>

  <app-feature-items></app-feature-items>

  <app-second-property-photos-section-one></app-second-property-photos-section-one>

  <app-second-property-photos-section-two></app-second-property-photos-section-two>

  <app-features-hostel
    [inputedTitle]="'Tenha o melhor de Figueredo'"
  ></app-features-hostel>
</div>
