<mat-toolbar class="toolbar-fixed" color="accent">
  <mat-icon
    color="primary"
    class="toolbar-material-icon"
    (click)="toogleSidebar($event)"
    >dehaze</mat-icon
  >
  <a routerLink="/" class="logo-link">
    <div class="logo"><img [src]="logoImgPath" alt="LocalHostel | Logo" /></div>
  </a>

  <div class="property-links">
    <a routerLink="/manaus" routerLinkActive="active"> <span>Manaus</span> </a>
    <a routerLink="/figueiredo" routerLinkActive="active">
      <span>Figueiredo</span>
    </a>
  </div>

  <span *ngIf="showPhone" id="joinville-phone-number">+55 (92) 98412-5252</span>

  <app-social-media-links></app-social-media-links>

  <app-flags></app-flags>
</mat-toolbar>
