<a routerLink="/" class="sidebar-links" (click)="toogleSidebar($event)">
  <img [src]="logoImgPath" [alt]="defaultAltImg" class="sidebar-logo">
</a>

<ul class="sidebar-links">

  <li>
    <a routerLink="/contato" routerLinkActive="active" (click)="toogleSidebar($event)">
      <span><mat-icon>email</mat-icon></span> <span>Contato</span>  
    </a>
  </li>

  <li>
    <a routerLink="/trabalhe-conosco" routerLinkActive="active" (click)="toogleSidebar($event)">
      <span><mat-icon>work</mat-icon></span> <span>Trabalhe conosco</span>  
    </a>
  </li>

</ul>