.footer-address {
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 18px;
    color: black;

    a {
        color: black;
        text-decoration: none;        
    }
}

#footer-phone {
    font-size: 26px;
    font-weight: 100;
}