<!-- PROPERTY 1 -->
<div class="col-sm-12 col-md-4 text-center">
  <p class="footer-address">
    Rua Dona Libânia, 215 - Centro, Manaus <br />
    Amazonas, 69010-250
  </p>
</div>
<div class="col-sm-12 col-md-4 text-center">
  <p class="footer-phone footer-address">
    <a href="tel:554734240844">+55 (92) 3213-9159</a>
  </p>
</div>
<div class="col-sm-12 col-md-4 text-center">
  <p class="footer-address footer-email">
    <a href="mailto:reservas@localhostel.com.br">reservas@localhostel.com.br</a>
  </p>
</div>
<!-- END: PROPERTY 1 -->

<div class="col-sm-12"><hr /></div>

<!-- PROPERTY 2 -->
<div class="col-sm-12 col-md-4 text-center">
  <p class="footer-address">
    Rua Dona Libânia, 215 - Centro, Manaus <br />
    Amazonas, 69010-250
  </p>
</div>
<div class="col-sm-12 col-md-4 text-center">
  <p class="footer-phone footer-address">
    <a href="tel:5592984475713">+55 (92) 98447-5713</a>
  </p>
</div>
<div class="col-sm-12 col-md-4 text-center">
  <p class="footer-address footer-email">
    <a href="mailto:contatofigueiredo@localhostel.com.br"
      >contatofigueiredo@localhostel.com.br</a
    >
  </p>
</div>
<!-- END: PROPERTY 2 -->
