.banner {
	margin: 0px;
	position: relative;
	min-height: 84vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	.display-datapickers {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;	
		min-height: 84vh;

		fixed-date-picker-bar {
			width: 100%;
		}
		
	}
	
}
