<div class="container-fluid feature-items-section">
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="hostel-icons">
        <i class="material-icons prefix tiny">wifi</i>
        <h6>{{ "Free Wifi" }}</h6>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="hostel-icons">
        <i class="material-icons prefix tiny">local_cafe</i>
        <h6>{{ "Café da mannhã (não incluso)" }}</h6>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="hostel-icons">
        <i class="fas fa-car material-icons"></i>
        <h6>{{ "Indicação de guias" }}</h6>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="hostel-icons">
        <i class="material-icons prefix tiny">kitchen</i>
        <h6>{{ "Cozinha compartilhada" }}</h6>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="hostel-icons">
        <i class="fas fa-shopping-basket material-icons"></i>
        <h6>{{ "Shop" }}</h6>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="hostel-icons">
        <i class="fas fa-leaf material-icons"></i>
        <h6>{{ "Horta comunitária" }}</h6>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="hostel-icons">
        <i class="fas fa-music material-icons"></i>
        <h6>{{ "Happy Hour todo dia" }}</h6>
      </div>
    </div>

    <div class="col-sm-6 col-md-3" style="margin-bottom: 20px;">
      <div class="hostel-icons">
        <i class="material-icons prefix tiny">language</i>
        <h6>{{ "Staff Bilíngue" }}</h6>
      </div>
    </div>
  </div>
</div>
