<div class="hostel-section-wrapper">
  <div class="hostel-section-row">
    <div class="hostel-section-img">
      <img src="assets/img/shared/logo.png" alt="Local Hostel Manaus" />
    </div>
    <div class="hostel-section-actions">
      <h3 class="brand-name">Local Hostel</h3>
      <p class="unity-name">Manaus</p>
      <div class="unity-features">
        <div>
          <i class="fas fa-wifi material-icons"></i> <span>Free Wifi</span>
        </div>
        <div>
          <i class="material-icons prefix tiny">kitchen</i>
          <span>Cozinha compartilhada</span>
        </div>
        <div>
          <i class="fas fa-leaf material-icons"></i>
          <span>Horta comunitária</span>
        </div>
        <div>
          <i class="material-icons prefix tiny">language</i>
          <span>Staff Bilíngue</span>
        </div>
      </div>
      <a
        routerLink="/manaus"
        routerLinkActive="active"
        (click)="backToTop()"
        mat-raised-button
        color="accent"
        class="button-style rent-button"
        >SAIBA MAIS</a
      >
    </div>
  </div>
</div>
