$mat-green: #347924;

.hostel-section-img {
  height: 544px;
  width: 544px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #469b41;
  border-radius: 50%;
  opacity: 0.95;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  &:hover {
    opacity: 0.85;
  }
  max-width: 50%;
}
.hostel-section-wrapper {
  padding: 40px 18px;
}
.hostel-section-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hostel-section-actions {
  width: 50%;
  height: 544px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.unity-name {
  font-size: 77px;
  margin: 0;
  color: #4e4b42;
}
.brand-name {
  color: #4e4b42;
  margin-bottom: 0;
}
.unity-features div {
  color: #4e4b42;
  width: 270px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.unity-features div:last-child {
  margin-bottom: 30px;
}
.unity-features span {
  padding-left: 40px;
}
.unity-features svg,
.unity-features .material-icons {
  margin-left: 10px;
  font-size: 2.5rem;
  color: #019a3f;
  fill: #019a3f;
  height: 36px;
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
}
@media only screen and (max-width: 1040px) {
  .hostel-section-img {
    width: 444px;
    height: 444px;
  }
}
@media only screen and (max-width: 820px) {
  .hostel-section-img {
    width: 344px;
    height: 344px;
  }
  .hostel-section-img img {
    width: 300px;
  }
}
@media only screen and (max-width: 720px) {
  .hostel-section-row {
    flex-direction: column;
  }
  .hostel-section-row-inverse {
    flex-direction: column-reverse;
  }
  .hostel-section-actions {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 670px) {
  .hostel-section-img {
    max-width: 100%;
  }
  .hostel-section-wrapper {
    padding: 20px 0px;
  }
}
@media only screen and (max-width: 380px) {
  .unity-name {
    font-size: 60px;
  }
}
@media only screen and (max-width: 350px) {
  .hostel-section-img {
    width: 320px;
    height: 320px;
  }
  .hostel-section-img img {
    width: 290px;
  }
}
