<div class="container-fluid">
    <app-banner></app-banner>

    <app-text-block 
        [firstText]="(texts | async)?.hostelDescription" 
        [title]="'O melhor hostel de Manaus'">
    </app-text-block>

    <app-feature-items></app-feature-items>

    <app-photos-section-home-one></app-photos-section-home-one>

    <app-photos-section-home-two></app-photos-section-home-two>

    <app-text-block 
        [firstText]="(texts | async)?.joinvilleDescriptionOne" 
        [secondText]="(texts | async)?.joinvilleDescriptionTwo" 
        [title]="(texts | async)?.joinvilleTitle">
    </app-text-block>

    <!-- <app-photos-section-home-three></app-photos-section-home-three>

    <app-feature-items-two></app-feature-items-two> -->

    <app-features-hostel></app-features-hostel>

</div>