<div class="container-fluid features-hostel">
  <div class="row">

    <div class="col-sm-12 text-title text-center">
      <h2>{{ title }}</h2>
    </div>

    <div class="col-sm-4 icon-section">
      <app-bag></app-bag>
      <span class="icon-text">{{ travelText }}</span>
    </div>

    <div class="col-sm-4 icon-section">
      <app-map></app-map>
      <span class="icon-text">{{ mapText }}</span>
    </div>

    <div class="col-sm-4 icon-section">
      <app-guitar></app-guitar>
      <span class="icon-text">{{ happyText }}</span>
    </div>

  </div>
</div>