<div class="container-fluid features-hostel">
  <div class="row">
    <div class="col-sm-12 text-title text-center">
      <h2>{{ inputedTitle ? inputedTitle : title }}</h2>
    </div>

    <div class="col-sm-4 icon-section">
      <i class="material-icons">beenhere</i>
      <span class="icon-text">{{ firstText }}</span>
    </div>

    <div class="col-sm-4 icon-section">
      <i class="material-icons">local_activity</i>
      <span class="icon-text">{{ secondText }}</span>
    </div>

    <div class="col-sm-4 icon-section">
      <i class="material-icons">money_off</i>
      <span class="icon-text">{{ thirdText }}</span>
    </div>
  </div>
</div>
