<h3 class="footer-list-title">Local Hostel</h3>

<ul class="footer-links">
  <li>
    <a routerLink="/" (click)="backToTop()">
      <span>
        <mat-icon>home</mat-icon>
      </span>
      <span>Início</span>
    </a>
  </li>

  <li>
    <a routerLink="/como-chegar" (click)="backToTop()">
      <span>
        <mat-icon>email</mat-icon>
      </span>
      <span>Como chegar</span>
    </a>
  </li>

  <li>
    <a routerLink="/trabalhe-conosco" (click)="backToTop()">
      <span>
        <mat-icon>work</mat-icon>
      </span>
      <span>Trabalhe conosco</span>
    </a>
  </li>
</ul>