<h3 class="footer-list-title">Local Hostel</h3>

<ul class="footer-links">
  <li>
    <a routerLink="/">
      <span>
        <mat-icon>home</mat-icon>
      </span>
      <span>Início</span>
    </a>
  </li>

  <li>
    <a routerLink="/contato">
      <span>
        <mat-icon>email</mat-icon>
      </span>
      <span>Contato</span>
    </a>
  </li>

  <li>
    <a routerLink="/trabalhe-conosco">
      <span>
        <mat-icon>work</mat-icon>
      </span>
      <span>Trabalhe conosco</span>
    </a>
  </li>

</ul>