<section
  class="banner"
  style="background-image: url('assets/img/shared/figueiredoBg.jpg');"
>
  <div class="display-datapickers">
    <fixed-date-picker-bar></fixed-date-picker-bar>
  </div>
</section>

<div class="row features-banner">
  <div class="col-sm-12 col-md-3">
    <i class="material-icons">check_circle</i> <span>Happy Hour todo dia</span>
  </div>
  <div class="col-sm-12 col-md-3">
    <i class="material-icons">check_circle</i> <span>Melhor Localização</span>
  </div>
  <div class="col-sm-12 col-md-3">
    <i class="material-icons">check_circle</i> <span>Recpeção 24h</span>
  </div>
  <div class="col-sm-12 col-md-3">
    <i class="material-icons">check_circle</i> <span>Passeios da selva</span>
  </div>
</div>
